//windres -i rsrc.rc -o rsrc.syso 生成命令,文件编码UTF8
#pragma code_page(65001) // UTF-8
#define VA 1
#define VB 0
#define VC 0
#define YEAR "2023"
#define NAME_EN "yo"
#define NAME_CN "测试"
#define DESC "功能描述"
#define AR "logoove"

#define MAKEVER_S(a,b,c) a,b,c
#define MAKEVER(a,b,c) a.b.c
#define STRINGIFY(x) #x
#define TOSTRING(x) STRINGIFY(x)

1 VERSIONINFO
PRODUCTVERSION MAKEVER_S(VA, VB, VC)
FILEVERSION MAKEVER_S(VA, VB, VC)
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
			VALUE "CompanyName", NAME_CN
			VALUE "FileDescription", DESC
			VALUE "FileVersion", TOSTRING(MAKEVER(VA, VB, VC))
			VALUE "InternalName", NAME_EN
			VALUE "LegalCopyright", "Copyright(c)" YEAR " By " AR
			VALUE "OriginalFilename", NAME_EN ".exe"
			VALUE "ProductName", NAME_CN
			VALUE "ProductVersion", TOSTRING(MAKEVER(VA, VB, VC))
			VALUE "Comments", "https://github.com/" AR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
           VALUE "Translation", 0x0804, 1200 // VALUE "Translation", 0x0409, 0x04B0
    END
END

1 ICON "icon.ico"
1 24 "manifest.xml"